@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
}
header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
header a {
    padding-left: 10px;
    text-decoration: none;
    color: black;
}